.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidemenu {
  width: 240px;
  padding: 10px;
  background-color: #202123;
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin: 12px;
  outline: none;
  font-size: 1.25em;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.chat-log {
  padding: 24px;
  text-align: left;
}

.chat-message.chatgpt {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background: #0da37f !important;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 30px;
  padding-right: 30px;
}
